@use "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.testimonial__container-card__box {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  padding: 2rem;
  display: flex;

  svg {
    margin-right: 1rem;
  }

  p {
    font-size: 18px;
    line-height: 32px;
    color: #18191f;
    margin-bottom: 1.5rem;

    @include variables.breakpoints("sm") {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 1rem;
    }

    @include variables.breakpoints("xs") {
      font-size: 14px;
    }
  }

  h6 {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #18191f;

    @include variables.breakpoints("sm") {
      font-size: 16px;
    }
  }

  span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #969bab;

    @include variables.breakpoints("sm") {
      font-size: 12px;
    }
  }
}
