@use "../../variables";

.mobileNav {
  position: fixed;
  z-index: 10;
  width: 90%;
  margin: 0 5%;
  height: 4.5rem;
  bottom: 22px;
  padding: 22px;
  border-radius: 20px;
  background: rgba($color: #f7d6c3, $alpha: 0.8);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  display: none;
  justify-content: space-evenly;
  align-items: center;

  @include variables.breakpoints("md") {
    display: flex;
  }

  a {
    height: 3rem;
    border-radius: 20px;
    width: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;

    &:hover {
      background: rgba($color: #d4b8a7, $alpha: 0.8);
    }
  }
}
