@use "../../variables";

.hero {
  height: 52rem;

  &__container {
    display: flex;
    flex-direction: row;
    height: 80%;

    &-content {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 1rem;

      h1 {
        font-weight: 800;
        font-size: 64px;
        line-height: 77px;

        @include variables.breakpoints("lg") {
          font-size: 50px;
          line-height: 62px;
        }

        @include variables.breakpoints("xs") {
          font-size: 36px;
        }
      }

      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        margin-top: 2.5rem;

        @include variables.breakpoints("sm") {
          font-size: 16px;
        }

        @include variables.breakpoints("xs") {
          font-size: 14px;
        }
      }

      button {
        margin-top: 3rem;
        width: 100%;
        box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.25);
        border-radius: 32px;
        color: white;
        width: 274px;
        height: 64px;
        background-color: transparent;
        background-repeat: no-repeat;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        outline: none;
        border: 4px solid #ffffff;
        cursor: pointer;

        @include variables.breakpoints("sm") {
          font-size: 16px;
          width: 240px;
          height: 48px;
        }

        @include variables.breakpoints("xs") {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &-image {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: "";
        border-radius: 50%;
        background: rgba(251, 251, 251, 0.37);
        -webkit-filter: blur(170px);
        filter: blur(170px);
        height: 35vw;
        width: 35vw;
      }

      img {
        position: absolute;
        z-index: 10;

        @include variables.breakpoints("lg") {
          width: 32rem;
        }

        @include variables.breakpoints("md") {
          width: 30rem;
        }

        @include variables.breakpoints("sm") {
          width: 40vh;
        }
      }

      @include variables.breakpoints("sm") {
        align-items: unset;
      }
    }

    @include variables.breakpoints("sm") {
      flex-direction: column;
    }
  }
}
