@use "../../variables";

.mobile {
  background: variables.$tertiary-color;
  height: 20.5rem;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: row;

    & > img {
      margin-top: -4rem;
      margin-bottom: -4rem;

      @include variables.breakpoints("md") {
        width: auto;
        height: 24rem;
        margin-top: -26px;
      }
    }

    &-text {
      margin-left: 2rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      z-index: 3;

      h2 {
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 3rem;
        text-transform: capitalize;
        color: #ffffff;
        margin-bottom: 1rem;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);

        @include variables.breakpoints("md") {
          font-size: 2rem;
          line-height: 2.5rem;
        }

        @include variables.breakpoints("sm") {
          text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.6);
        }
      }

      img {
        height: 40px;
        margin-right: 0.6rem;
        margin-top: 1rem;

        @include variables.breakpoints("md") {
          height: 35px;
        }
      }
    }
    @include variables.breakpoints("sm") {
      flex-direction: row-reverse;
      position: relative;

      & > img {
        margin-right: -2rem;
        position: absolute;
      }
    }
  }
}
