@use "../../variables";

.contact {
  height: 7rem;
  background: variables.$secondary-color;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &-wrapper {
      display: flex;
      align-items: center;
      height: 3.5rem;

      &__icons {
        &-A {
          height: 45px;
          width: auto;
          margin-right: 1rem;

          @include variables.breakpoints("lg") {
            height: 40px;
          }

          @include variables.breakpoints("sm") {
            height: 32px;
          }
        }

        &-B {
          height: 35px;
          width: auto;
          margin-left: 1rem;

          @include variables.breakpoints("lg") {
            height: 30px;
          }

          @include variables.breakpoints("sm") {
            height: 22px;
          }
        }
      }

      p {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;

        @include variables.breakpoints("lg") {
          font-size: 20px;
        }

        @include variables.breakpoints("sm") {
          font-size: 16px;
        }
      }

      img {
        @include variables.breakpoints("md") {
          height: 30px;
        }
      }
    }

    @include variables.breakpoints("md") {
      &-wrapper:first-child {
        display: none;
      }
    }

    @include variables.breakpoints("sm") {
      flex-direction: column;
      align-items: flex-start;
      align-content: space-between;
      justify-content: flex-end;
    }
  }
}
