.catalog {
  background: url(../../assets/catalog_bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  overflow-x: hidden;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
}
