@use "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.testimonial {
  &__container {
    margin: 7.5rem 0;
    display: flex;

    &-groupA {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 50%;

      &__card {
        margin: 0.5rem;

        &:first-child {
          text-align: end;
          font-family: "Manrope";
          color: #18191f;
          position: relative;
          max-width: 30rem;

          h2 {
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;

            @include variables.breakpoints("lg") {
              font-size: 42px;
            }

            @include variables.breakpoints("sm") {
              font-size: 32px;
              line-height: 40px;
            }
          }

          p {
            font-size: 18px;
            line-height: 32px;

            @include variables.breakpoints("sm") {
              font-size: 16px;
            }

            @include variables.breakpoints("xs") {
              font-size: 14px;
            }
          }

          svg {
            z-index: -1;
            position: absolute;
            inset: -3.5rem auto 0 -1rem;
          }
        }

        &:last-child {
          width: 80%;
        }
      }
    }

    &-groupB {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-top: 3.25rem;

      &__card {
        margin: 0.5rem;

        &:last-child {
          width: 80%;
        }
      }
    }

    @include variables.breakpoints("md") {
      flex-direction: column;

      &-groupA {
        width: 100%;
        align-items: flex-start;

        &__card {
          margin: 0;
          padding: 0.5rem;

          &:first-child {
            text-align: unset;
            max-width: unset;
          }

          &:last-child {
            width: 100%;
          }
        }
      }

      &-groupB {
        width: 100%;
        margin: 0;

        &__card {
          margin: 0;
          padding: 0.5rem;

          &:last-child {
            width: 100%;
          }
        }
      }
    }
  }
}
